<% 
  let gnb = locals.require('gnb.json')
  var page = 'banner'
  let sub = '등록'
  let heading = (sub && (gnb[page].children[sub].hasOwnProperty('view') === false || gnb[page].children[sub].view !== false )) ? ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? sub : gnb[page].children[sub].title) : ((gnb[page].children[sub].hasOwnProperty('title') === false || gnb[page].children[sub].title == "" ) ? gnb[page].title.ko : gnb[page].children[sub].title)
-%>
<% locals.setLayout('_base.ejs') -%>
<% locals.block('page',page) %>
<% locals.block('sub',sub) %>
<% locals.block('heading',heading) %>
<% locals.block('title', heading + ' | ','append') -%>


<div class="row">
    <div class="col-sm-12">
        <h4 class="lead">표시설정</h4>
        <table class="table table-bordered">
            <colgroup>
                <col style="width:120px;">
                <col>
                <col style="width:120px;">
                <col>
            </colgroup>
            <tbody>
                <tr>
                    <th class="active">사용여부</th>
                    <td colspan="3">
                        <label class="radio-inline">
                            <span class="form-radio"><input type="radio" name="mainBannerUse" id="mainBannerUse_y" value="option1" checked><i></i></span> 사용
                        </label>
                        <label class="radio-inline">
                            <span class="form-radio"><input type="radio" name="mainBannerUse" id="mainBannerUse_n" value="option2"><i></i></span> 사용안함
                        </label>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- //table -->
    </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4 class="lead">기본 정보</h4>
    <table class="table table-bordered">
        <colgroup>
            <col style="width:120px;">
            <col>
            <col style="width:120px;">
            <col>
        </colgroup>
        <tbody>
            <tr>
                <th class="active">제목</th>
                <td colspan="3">
                    <input type="text" name="" id="" class="form-control input-sm">
                </td>
            </tr>
            <tr>
                <th class="active">동영상 등록 링크</th>
                <td colspan="3">
                    <input type="text" name="" id="" class="form-control input-sm">
                </td>
            </tr>
            <tr>
                <th class="active">이미지 등록</th>
                <td colspan="3">
                    <div class="row">
                        <div class="col-xs-2 input-file-box">
                            <input type="file" id="input-file-now" class="dropify" data-height="200" data-default-file="" data-allowed-file-extensions="jpg png gif" />
                            <div class="xs-mt-5">
                                PC 이미지<br>
                                권장사이즈 000x000
                            </div>
                        </div>
                        
                        <div class="col-xs-2">
                            <input type="file" id="input-file-now" class="dropify" data-height="200" data-default-file="" data-allowed-file-extensions="jpg png gif" />
                            <div class="xs-mt-5">
                                모바일 이미지<br>
                                권장사이즈 000x000
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="active">배너 문구 정렬</th>
                <td colspan="3">
                    <label class="radio-inline">
                        <span class="form-radio"><input type="radio" name="mainBannerTxtAlign" id="mainBannerTxtAlign_left" value="option1" checked><i></i></span> 왼쪽 정렬 
                    </label>
                    <label class="radio-inline">
                        <span class="form-radio"><input type="radio" name="mainBannerTxtAlign" id="mainBannerTxtAlign_center" value="option2"><i></i></span> 중간 정렬
                    </label>
                    <label class="radio-inline">
                        <span class="form-radio"><input type="radio" name="mainBannerTxtAlign" id="mainBannerTxtAlign_right" value="option2"><i></i></span> 오른쪽 정렬
                    </label>
                </td>
            </tr>
            <tr>
                <th class="active">배너 문구</th>
                <td colspan="3">
                    <table class="table table-bordered">
                        <colgroup>
                            <col style="width:100px;">
                            <col>
                            <col style="width:100px;">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th class="active">첫번째 줄</th>
                                <td>
                                    <input type="text" name="" id="" class="form-control input-sm">
                                </td>
                            </tr>
                            <tr>
                                <th class="active">두번째 줄</th>
                                <td>
                                    <input type="text" name="" id="" class="form-control input-sm">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="xs-mt-5">- 글자 수는 한 줄 당 영문 최대 50자/한글 최대 24자까지 가능(공백 포함)</div>
                </td>
            </tr>
            <tr>
                <th class="active">링크 URL</th>
                <td colspan="3">
                    <input type="text" name="" id="" class="form-control input-sm">
                </td>
            </tr>
            <tr>
                <th class="active">링크 방식</th>
                <td colspan="3">
                    <label class="radio-inline">
                        <span class="form-radio"><input type="radio" name="mainBannerLinkTarget" id="mainBannerLinkTarget_y" value="option1" checked><i></i></span> 현재 창 열기
                    </label>
                    <label class="radio-inline">
                        <span class="form-radio"><input type="radio" name="mainBannerLinkTarget" id="mainBannerLinkTarget_n" value="option2"><i></i></span> 새창 열기
                    </label>
                </td>
            </tr>
            <tr>
                <th class="active">노출 기간</th>
                <td colspan="3">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="form-inline">
                                <div class="input-group">
                                    <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetime date-width-default" data-link-field="dtp_input1">
                                        <input size="16" type="text" value="" readonly="" class="form-control">
                                        <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                    <span class="input-group-addon">~</span>
                                    <div data-min-view="2" data-date-format="yyyy-mm-dd" class="input-group date datetime date-width-default" data-link-field="dtp_input1">
                                        <input size="16" type="text" value="" readonly="" class="form-control">
                                        <span class="input-group-addon input-group-addon-transparent"><span class="glyphicon glyphicon-th hide"></span><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- //table -->
  </div>
</div>

<div class="row">
    <div class="col-sm-4 text-left"></div>
    <div class="col-sm-4 text-center">
        <a class="btn btn-default" href="<%- gnb[page].children['목록'].link %>.html" role="button"><i class="fa fa-times" aria-hidden="true"></i> 취소</a>
        <a class="btn btn-success" href="<%- gnb[page].children['상세'].link %>.html" role="button"><i class="fa fa-check" aria-hidden="true"></i> 등록</a>
    </div>
    <div class="col-sm-4 text-right"></div>
</div>