	
	<div class="footer">
		<div class="footer__wrap">
			<div class="footer__logo">
				<img src="../../images/common/footer_logo.png" alt="hermes">
			</div>
			<nav class="footer-sns">
				<ul class="footer-sns__list">
					<li class="footer-sns__item type-instargram">
						<a href="" class="footer-sns__link">instargram</a>
					</li>
					<li class="footer-sns__item type-facebook">
						<a href="" class="footer-sns__link">facebook</a>
					</li>
					<li class="footer-sns__item type-twitter">
						<a href="" class="footer-sns__link">twitter</a>
					</li>
					<li class="footer-sns__item type-youtube">
						<a href="" class="footer-sns__link">youtube</a>
					</li>
				</ul>
			</nav>
			<p class="footer__txt">© Hermès 2020. All rights reserved.</p>
			<nav class="footer-nav type-first">
				<ul class="footer-nav__list">
					<li class="footer-nav__item"><a href="" class="footer-nav__link">Customer service</a></li>
					<li class="footer-nav__item"><a href="" class="footer-nav__link">Online store</a></li>

				</ul>
			</nav>
			<nav class="footer-nav type-second">
				<ul class="footer-nav__list">
					<li class="footer-nav__item"><a href="" class="footer-nav__link">HERMES About</a></li>
					<li class="footer-nav__item"><a href="" class="footer-nav__link">Legal Notice</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<script src="../../js/libs/jquery-3.4.1.min.js"></script>
	<script src="../../js/style.js"></script>
	<script type="text/javascript" src="../../js/libs/slick.min.js"></script>
	<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>
<!--footer끝-->
