<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>

<!-- 공통 css,js -->
<!-- 그누보드 디폴트css -->

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../../css/style.css">


<!-- 공통 css,js -->
<% if (page_type == "loding") { %>
	<link rel="stylesheet" href="../../css/loding.css">
<% }else if (page_type == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">

<% } %>



</head>
<body>
	<header class="header">
		<nav class="header__nav">
			<ul class="header__list">
				<li class="header__item is-active"><a href="" class="header__link">woman</a></li>
				<li class="header__item"><a href="" class="header__link">man</a></li>
			</ul>
			<img src="../../images/common/logo.png" alt="" class="header__logo img-normal">
			<div class="header__right">
				<nav class="right-nav">
					<ul class="right-nav__list">
						<li class="right-nav__item">
							<a href="" class="right-nav__link type-mypage">mypage</a>
						</li>
						<li class="right-nav__item">
							<a href="" class="right-nav__link type-basket">basket</a>
						</li>
						<li class="right-nav__item">
							<a href="#" class="right-nav__link type-all js-gnb-btn">
								<span class="right-nav__line">line</span>
								<span class="right-nav__line">line</span>
								<span class="right-nav__line">line</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<nav class="gnb">
				<div class="gnb__wrap">
					<ul class="gnb-depth1__list">
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">woman</a>
							<ul class="gnb-depth2__list">
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">여성복</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">실크 액세서리</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">슈즈</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">가방</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">가죽 액세서리</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">벨트</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">모자 / 장갑</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">주얼리</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">향수</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">시계</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">에르메스 애플 워치</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">비치와 스포츠 용품</a>
								</li>
							</ul>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">Men</a>
							<ul class="gnb-depth2__list">
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">남성복</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">포켓스퀘어</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">슈즈</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">가방과 가죽소품</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">벨트</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">액세서리</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">주얼리와 패션 주얼리</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">향수</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">워치</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">애플 워치 에르메스</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">비치와 스포츠 용품</a>
								</li>
							</ul>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">Home</a>
							<ul class="gnb-depth2__list">
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">텍스타일</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">베이비 기프트</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">오브제</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">게임과 스포츠</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">테이블웨어</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">비치</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">익셉셔널 피스</a>
								</li>
							</ul>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">Make-up</a>
							<ul class="gnb-depth2__list">
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">립 제품</a>
								</li>
								<li class="gnb-depth2__item">
									<a href="" class="gnb-depth2__link">액세서리</a>
								</li>
							</ul>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">Shoes / bags</a>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">Equestrian</a>
						</li>
						<li class="gnb-depth1__item">
							<a href="" class="gnb-depth1__link">baby gifts</a>
						</li>
					</ul>
					<div class="gnb-bottom">
						<ul class="gnb-bottom__list">
							<li class="gnb-bottom__item">
								<a href="" class="gnb-bottom__link">login</a>
							</li>
							<li class="gnb-bottom__item">
								<a href="" class="gnb-bottom__link">Find a store</a>
							</li>
							<li class="gnb-bottom__item">
								<a href="" class="gnb-bottom__link">About Hermès</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>	
		</nav>
	</header>

<!-- //header끝 -->
<!-- section시작 -->
