<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="ิ">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>

<!-- 공통 css,js -->
<!-- 그누보드 디폴트css -->

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="../../css/style.css">

<link rel="icon" href="../../images/common/favicon.ico">
<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../../js/style.js"></script>


<!-- 공통 css,js -->
<% if (page_type == "loding") { %>
	<link rel="stylesheet" href="../../css/loding.css">
<% }else if (page_type == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
	<script type="text/javascript" src="../../js/main.js"></script>
<% } %>



</head>
<body>
	<header class="header">
		<nav class="header__nav">
			<ul class="header__list">
				<li class="header__item is-active"><a href="" class="header__link">woman</a></li>
				<li class="header__item"><a href="" class="header__link">man</a></li>
			</ul>
			<img src="../../images/common/logo.png" alt="" class="header__logo img-normal">
			<div class="header__right">
				<nav class="right-nav">
					<ul class="right-nav__list">
						<li class="right-nav__item">
							<a href="" class="right-nav__link type-mypage">mypage</a>
						</li>
						<li class="right-nav__item">
							<a href="" class="right-nav__link type-basket">basket</a>
						</li>
						<li class="right-nav__item">
							<a href="#" class="right-nav__link type-all">
								<span class="right-nav__line">line</span>
								<span class="right-nav__line">line</span>
								<span class="right-nav__line">line</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>	
		</nav>
	</header>

<!-- //header끝 -->
<!-- section시작 -->
