
<div class="container">
    <div class="mypage">
		<div class="mypage-header">
			<div class="container__wrap">
				<div class="profile">
					<div class="profile__wrap"">
						<div class="profile__thumbnail img-border">
							<img src="../../img/mypage/profile_img.jpg" alt="" class="profile__img"/>
						</div>
						<a href="" class="profile__plus">자세히 보기</a>
					</div>
					<div class="profile__box">
						<p class="profile__name">머글킴</p>
						<p class="profile__email">muggle-kim@naver.com</p>
					</div>
					<a href="" class="profile__btn button-v2">개인정보 수정</a>
				</div>
			</div>
		</div>
