.table { table-layout: fixed; }

.board-link { color:inherit;
  &:focus,
  &:hover { color:inherit;}
}
.board-nowrap { position:relative; display:inline-block; box-sizing:border-box; width:100%; overflow:hidden; text-overflow: ellipsis; white-space:nowrap; vertical-align:top;
  &:nth-child(n) { width:auto; max-width:100%; }
  &.board-new { padding-right:60px;
    &:after { position:absolute; right:0; }
  }
}

.table-row-link { overflow:hidden;
  &.table-bordered { border-collapse:separate; border-right-width:0; 
    th,
    td { border-left-width:0; border-bottom-width:0; }
    th { border-bottom-width:1px;}
  }
  tbody { }
  tbody tr { }
  tbody tr:hover td {  background-color:lighten($brand-primary, 40%); transition:background-color .3s ease-out; }
  tbody td { position:relative;  }
  tbody td a { color:inherit; text-decoration:none; }
  tbody td a:focus,
  tbody td a:hover { text-decoration:none; }
  tbody td a:after  { content:''; position:absolute; bottom:-1000%; top:0; padding:8px; left:-100%; width:1000%;z-index:1; background-color:rgba(255,255,255,.0); }
}
.table-layout-fixed { table-layout:fixed; }