<%
page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
    <!--container-->
    <div class="container type-fullbg type-result">
        <div class="wrap">
            <div class="container__wrap">
                <div class="register register-r type-result">
                    <h3 class="bld">회원가입완료</h3>
                    <img src="../../img/login/result_check_bg.png" alt="" class="register-r__img"/>
                    <p class="register-r__tit type-result">아이디 찾기 성공!</p>
                    <p class="register-r__txt">김선미 회원님이 아이디로 등록한 이메일 주소는<br><span class="register-r__txt__point">muggle-kim@naver.com</span> 입니다.</p>

					<div class="register-r__btnwrap clb">
                        <div class="register-r__btninbox fl">
                            <a href="../../html/login/login.html" class="button-v2 type-border w-100">로그인 하러 가기</a>
                        </div>
                        <div class="register-r__btninbox fl">
                            <a href="../../html/register/find_pw.html"  class="button-v2 type-blue w-100">비밀번호 찾기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../_include/_footer %>
