<%
page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
    <!--container-->
    <div class="container type-fullbg type-result">
        <div class="wrap">
            <div class="container__wrap">
                <div class="register register-r type-result">
                    <h3 class="bld">비밀번호 찾기 결과페이지</h3>
                    <img src="../../img/login/result_check_bg.png" alt="" class="register-r__img"/>
                    <p class="register-r__tit type-result">이메일 발송 완료!</p>
                    <p class="register-r__txt">비밀번호 재설정을 위한 이메일이 김선미 회원님의 계정인<br><span class="register-r__txt__point">muggle-kim@naver.com</span> 로 전송되었습니다.</p>
                    <p class="register-r__txt__sub">받으신 이메일을 확인하시고 안내에 따라 비밀번호를 재설정하세요.<br>만약 메일을 받지 못하셨다면, 스팸 메일함을 확인해 주세요.</p>

					<div class="register-r__btnwrap clb">
                        <div class="register-r__btninbox fl">
                            <a href="../../html/main/main.html" class="button-v2 type-border w-100">홈으로 가기</a>
                        </div>
                        <div class="register-r__btninbox fl">
                            <a href="../../html/login/login.html" class="button-v2 type-blue w-100">로그인 하러 가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../_include/_footer %>
