<%
page_type = "register"
	page = "register"
	header = "true"
%>
<% include ../_include/_header %>
    <!--container-->
    <div class="container type-fullbg type-result">
        <div class="wrap">
            <div class="container__wrap">
                <div class="register register-r type-result">
                    <h3 class="bld">회원가입완료</h3>
                    <img src="../../img/login/result_check_bg.png" alt="" class="register-r__img"/>
                    <p class="register-r__tit type-result">자, 이제 시작이야</p>
                    <p class="register-r__txt">머글킴 님, 회원가입을 축하합니다.<br>카포라에 가입하신 아이디는 <span class="register-r__txt__point">muggle-kim@naver.com</span> 입니다.</p>
                    <p class="register-r__txt__sub">카포라2.0에서 제공하는 프리미엄 서비스인 '내차어때' beta 버전을 무료로 경험해 보세요.<br>60,548 대의 차량과 내 차를 비교하여, 지금 내차의 상태와 견적을 한 눈에 확인할 수 있습니다.</p>
                    <div class="register-r__btnwrap clb">
                        <div class="register-r__btninbox fl">
                            <a href="../../html/main/main.html" type="button" class="button-v2 type-border w-100">홈으로 가기</a>
                        </div>
                        <div class="register-r__btninbox fl">
                            <a href="../../html/mycar/mycar_main.html" type="button" class="button-v2 type-blue w-100">'내차어때' 바로가기</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../_include/_footer %>
