<% let base = locals.entry.base || 'Default title'; %>
<div class="site-header">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%- base.name %></a>
      </div>
      <div class="collapse navbar-collapse">
        <%- locals.widget('_gnb.ejs') %>
        <p class="navbar-text navbar-right">
          안녕하세요. 홍길동님
          <button type="submit" class="btn  btn-default btn-xs"><i class="fa fa-sign-out" aria-hidden="true"></i> 로그아웃</button>
        </p>
      </div>
      <!-- //collapse -->
    </div>
    <!-- //container-fluid -->
  </nav>
  
</div>
<!-- //site-header -->