<%
page_type = "main"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
	<!--container-->
	<div class="container">
		<div class="main-visual">
			<img src="../../images/main/main_visual.jpg" class="img-w100" alt="">
		</div>
	</div>
	<!-- //container-->
<% include ../_include/_footer %>
