<%
page_type = "main"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
	<!--container-->
	<div class="container">
		<secion class="main-section main-visual">
			<img src="../../images/main/main_visual.jpg" class="img-w100" alt="">
		</secion>
		<section class="main-section collection">
			<div class="main-section__wrap collection__wrap">
				<h2 class="main-section__tit collection__tit">New Collection</h2>
				<nav class="collection-nav">
					<ul class="collection-nav__list">
						<li class="collection-nav__item is-active">
							<a href="" class="collection-nav__link">Free Fall Collection</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Men’s autumn-winter</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Soft color pop</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Freehand line</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Artisan of light</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Hermès on Stage</a>
						</li>
					</ul>
				</nav>
				<ul class="collection__list">
					<li class="collection__item">
						<div class="collection__img">
							<img src="../../images/main/main_new_1.png" alt="롱 트윌렌 가디건" class=" img-w100">
						</div>
						<div class="collection__box">
							<div class="collection__bar">
								<p class="collection__kor">롱 트윌렌 가디건</p>
								<p class="collection__eng">
									Projets Carres au Crayon
									Cardigan
								</p>
							</div>													
						</div>
					</li>
				</ul>
			</div>			
		</section>
		<section class="main-section celebrity">
			<div class="main-section__wrap collection__wrap">
				<h2 class="main-section__tit celebrity__tit">celebrity item</h2>

			</div>
		</section>
	</div>
	<!-- //container-->
<% include ../_include/_footer %>
