<%
page_type = "main"
	page = "main"
	header = "true"
%>
<% include ../_include/_header %>
	<!--container-->
	<div class="container">
		<secion class="main-section main-visual">
			<img src="../../images/main/main_visual.jpg" class="img-w100" alt="">
		</secion>
		<section class="main-section collection">
			<div class="collection__wrap">
				<h2 class="main-section__tit collection__tit">New<br class="hidden-pt"> Collection</h2>
				<nav class="collection-nav">
					<ul class="collection-nav__list">
						<li class="collection-nav__item is-active">
							<a href="" class="collection-nav__link">Free Fall Collection</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Men’s autumn-winter</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Soft color pop</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Freehand line</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Artisan of light</a>
						</li>
						<li class="collection-nav__item">
							<a href="" class="collection-nav__link">Hermès on Stage</a>
						</li>
					</ul>
				</nav>
				<ul class="collection__area">
					<div class="collection__outer">
						<div class="collection-img">
							<ul class="collection-img__list">
								<li class="collection-img__item is-active">
									<img src="../../images/main/main_new_1.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
								<li class="collection-img__item">
									<img src="../../images/main/main_new_2.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
								<li class="collection-img__item">
									<img src="../../images/main/main_new_3.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
								<li class="collection-img__item">
									<img src="../../images/main/main_new_4.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
								<li class="collection-img__item">
									<img src="../../images/main/main_new_5.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
								<li class="collection-img__item">
									<img src="../../images/main/main_new_6.jpg" alt="롱 트윌렌 가디건" class="">
								</li>
							</ul>
						</div>
						
						<div class="collection__box">
							<div class="collection__inner">
								<ul class="collection-btn">
									<li class="collection-btn__item">
										<button class="collection-btn__btn type-prev js-collection-prev">prev</button>
									</li>
									<li class="collection-btn__item">
										<button class="collection-btn__btn type-next js-collection-next">next</button>
									</li>
								</ul>
								<ul class="collection-txt">
									<li class="collection-txt__item is-active">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">롱 트윌렌 가디건</p>
										<p class="collection__eng">
											Projets Carres au<br>
											Crayon Cardigan
										</p>
									</li>
									<li class="collection-txt__item">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">터틀넥 스웨터</p>
										<p class="collection__eng">
											"Mix and atch"<br> 
											turtleneck Sweater
										</p>
									</li>
									<li class="collection-txt__item">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">터틀넥 스웨터</p>
										<p class="collection__eng">
											"Fragment de<br>
											 Couleur" sweater
										</p>
									</li>
									<li class="collection-txt__item">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">니트 가디건</p>
										<p class="collection__eng">
											"Voyage"<br>
											knit cardigan
										</p>
									</li>
									<li class="collection-txt__item">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">실크 아이템</p>
										<p class="collection__eng">
											Plumes en Fete<br>
											shawl
										</p>
									</li>
									<li class="collection-txt__item">
										<a href="" class="collection__arrow">
											next
										</a>
										<p class="collection__kor">하이 칼라 스웨터</p>
										<p class="collection__eng">
											"Les Rubans du<br>
											 Cheval" sweater
										</p>
									</li>
								</ul>							
							</div>
						</div>
					</div>					
				</ul>
			</div>			
		</section>
		<section class="main-section celebrity">
			<div class="main-section__wrap">
				<h2 class="main-section__tit celebrity__tit">
					celebrity item
				</h2>
				<p class="main-section__subtit">눈에 띄는 컬렉션 아이템</p>
				<nav class="celebrity-nav">
					<ul class="celebrity-nav__list">
						<li class="celebrity-nav__item"><a href="" class="celebrity-nav__link">silk item</a></li>
						<li class="celebrity-nav__item"><a href="" class="celebrity-nav__link">SHOES</a></li>
						<li class="celebrity-nav__item"><a href="" class="celebrity-nav__link">Bags</a></li>
						<li class="celebrity-nav__item"><a href="" class="celebrity-nav__link">ACCESSORIES</a></li>
					</ul>
				</nav>
				<div class="celebrity__content">
					<ul class="celebrity__list js-celebrity1">
						<% for(var i = 1; i < 7; i++){ %>
							<li class="celebrity__item"><a href="" class="celebrity__link"><img src="../../images/main/main_silk_<%=i%>.png"  class="img-normal"alt=""></a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</section>
		<section class="main-section">
			<div class="main-secion__wrap">
				<div class="main-banner">
					<div class="main-banner__box">
						<p class="main-banner__txt">autumn-winter 2020 collection</p>
					</div>
					<img src="../../images/main/main_banner_1.jpg" class="img-w100" alt="">
				</div>				
			</div>
		</section>
		<div class="main-section every">
			<div class="main-section__wrap every__wrap">
				<h2 class="main-section__tit every__tit">Every day<br> Lookbook HERMES</h2>
				<div class="every__sub">
					<div class="main-product">
						<div class="main-product__img">
							<img src="../../images/main/main_product_1.png" alt="O'Maillon earing" class="img-w100">
						</div>
						<p class="main-product__tit">O'Maillon earing</p>
						<p class="main-product__price">₩ 720,000</p>
					</div>
				</div>
				<div class="every__main">
					<div class="every__box">
						<div class="main-product__img">
							<img src="../../images/main/main_product_2.png" alt="O'Maillon earing" class="img-w100">
						</div>
						
						<div class="main-product__sub">
							<img src="../../images/main/main_product_sub.png" class="img-w100" alt="">
						</div>
						<div class="main-product__box">
							<p class="main-product__tit">"Mix and Match" Cardigan</p>
							<p class="main-product__price">₩ 5,160,000</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- //container-->
<% include ../_include/_footer %>
