<%
page_type = "test"
	page = "test"
	header = "false"
%>
<% include ../_include/_header %>
<link rel="stylesheet" href="../css/test.css"/>


	<div class="container">
		<div class="wrap">
			<table class="table-mh">
				<tbody>
					<tr class="table-mh__tr">
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
					</tr>
					<tr class="table-mh__tr">
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
					</tr>
					<tr class="table-mh__tr">
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
					</tr>
					<tr class="table-mh__tr">
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
						<td class="table-mh__td">

						</td>
					</tr>
				</tbody>
			</table>
			<div class="span-wrap">
				학교
				<span class="span-wrap__span">가나다라마바사</span>
				<span class="span-wrap__span">가나다라마바사</span>
				<span class="span-wrap__span">가나다라마바사</span>
			</div>
		</div>
	</div>




<% include ../_include/_footer %>
