<%
page_type = "test"
	page = "test"
	header = "false"
%>
<% include ../_include/_header %>
	<!--container-->
		<div id="slider1"></div>
		<div>
			<select name="" id="slider1-select1"></select>
		</div>
		<div>
			<select name="" id="slider1-select2"></select>
		</div>


		<div id="slider2"></div>
		<div>
			<select name="" id="slider2-select1"></select>
		</div>
		<div>
			<select name="" id="slider2-select2"></select>
		</div>
	<!-- //container-->
<% include ../_include/_footer %>
