<% include ../_include/_guide_header %>
<body class="guide-body">
    <div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item is-active"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
    <div class="container__wrap">
        <!-- 페이지 컬러 &amp; 포인트 컬러 -->
        <div class="guide-box">
            <div class="guide-tit">페이지 컬러 &amp; 포인트 컬러</div>
            <div class="guide-wrap">
                <div>
                    <div class="guide-color">
                        <div class="guide-color__box type-point">
                            <h3 class="guide-subtit guide-color__tit">포인트 컬러</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        TEXT COLOR 01<br>
                                        #0d5efe<br>
                                        $point1
                                    </div>
                                </li>
                            </ul>
                        </div><!-- //guide-color__box -->
                        <div class="guide-color__box type-grey">
                            <h3 class="guide-subtit guide-color__tit">텍스트 컬러</h3>
                            <ul class="guide-color__list">
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        GREY COLOR 01<br>
                                        #FAFAFA<br>
                                        $grey1
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        GREY COLOR 02<br>
                                        #F5F5F5<br>
                                        $grey2
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        GREY COLOR 03<br>
                                        #DDDDDD<br>
                                        $grey3
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        GREY COLOR 04<br>
                                        #CCCCCC<br>
                                        $grey4
                                    </div>
                                </li>
                                <li class="guide-color__item">
                                    <span class="guide-color__circle">circle</span>
                                    <div class="guide-color__desc">
                                        GREY COLOR 05<br>
                                        #888888<br>
                                        $grey5
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- //guide-color -->
                </div>
            </div>
        </div>

        <!-- font-weight -->
        <div class="guide-box">
            <div class="guide-tit">font-weight</div>
            <div class="guide-wrap">
                <div>
                    <p class="ft-light">
                        안녕하세요. 카포라 입니다.
                        <span class="guide-span">(font-weight:300;)</span>
                    </p>
                    <p class="ft-medium">
                        안녕하세요. 카포라 입니다.
                        <span class="guide-span">(font-weight:500;)</span>
                    </p>
                    <p class="ft-bold">
                        안녕하세요. 카포라 입니다.
                        <span class="guide-span">(font-weight:600;)</span>
                    </p>
                </div>
                <pre class="brush: html;">
                    <p class="ft-light">안녕하세요. 카포라 입니다.</p>
                    <p class="ft-medium">안녕하세요. 카포라 입니다.</p>
                    <p class="ft-bold">안녕하세요. 카포라 입니다.</p>
                </pre>
            </div>
        </div>

        <!-- 타이틀 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">타이틀 폰트</div>
            <div class="guide-wrap">
                <p class="tit-v1">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:42px)</span>
                </p>
                <p class="tit-v2">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:28px)</span>
                </p>
                <p class="tit-v3">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:22px)</span>
                </p>
                <pre class="brush: html;">
            		<div>
                        <p class="tit-v1">안녕하세요. 카포라입니다.</p>
                        <p class="tit-v2">안녕하세요. 카포라입니다.</p>
                        <p class="tit-v3">안녕하세요. 카포라입니다.</p>
            		</div>
            	</pre>
            </div>
        </div>

        <!-- 텍스트 폰트 -->
        <div class="guide-box">
            <div class="guide-tit">텍스트 폰트</div>
            <div class="guide-wrap">
                <p class="txt-v1">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:18px;)</span>
                </p>
                <p class="txt-v2">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:15px;)</span>
                </p>
                <p class="txt-v3">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:14px;)</span>
                </p>
        		<p class="txt-v4">
                    안녕하세요. 카포라입니다.
                    <span class="guide-span">(font-size:13px;)</span>
                </p>
                <pre class="brush: html;">
            		<div>
                        <p class="txt-v1">안녕하세요. 카포라입니다.</p>
                        <p class="txt-v2">안녕하세요. 카포라입니다.</p>
                        <p class="txt-v3">안녕하세요. 카포라입니다.</p>
                		<p class="txt-v4">안녕하세요. 카포라입니다.</p>
            		</div>
            	</pre>
            </div>
        </div>
    </div><!-- //new-content-wrap -->
<!-- //table1 -->
</body>
</html>
