
<% include ../_include/_guide_header %>
<body class="guide-body">
	<div class="g-gnb">
		<a href="" class="g-gnb__btn">메뉴 닫기</a>
		<div class="g-gnb__area">
			<ul class="g-gnb__depth1-list">
				<li class="g-gnb__depth1-item"><a href="guide_font.html" class="g-gnb__depth1-link">font</a></li>
				<li class="g-gnb__depth1-item"><a href="guide_content.html" class="g-gnb__depth1-link">content</a></li>
			    <li class="g-gnb__depth1-item is-active"><a href="guide_form.html" class="g-gnb__depth1-link">form</a></li>
			</ul>
			<div class="g-gnb__scroll">
				<div class="g-gnb__wrap">
					<ul class="g-gnb__depth2-list">
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container__wrap">
		<!-- btn-v1 -->
		<div class="guide-box">
			<div class="guide-tit">plus-btn</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="plus-btn">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
				</div>
				<pre class="brush: html;">
					<a href="" class="plus-btn">전체보기<span class="plus"><span class="plus__wrap">plus</span></span></a>
				</pre>
			</div>
			<!-- //plus-btn -->
		</div>



		<div class="guide-box">
			<div class="guide-tit">button-v1</div>
			<div class="guide-wrap">
				<div>
					<div class="guide-grid">
						<ul class="guide-grid__list">
							<li class="guide-grid__item">
								<button class="button-v1  w-s">검색하기</button>
							</li>
							<li class="guide-grid__item">
								<button class="button-v1  w-m type-border is-disabled">검색하기</button>
							</li>
							<li class="guide-grid__item">
								<button class="button-v1  w-l type-radius">검색하기</button>
							</li>
						</ul><br><br>
						<button class="button-v1 w-100">검색하기</button>
					</div>

				</div>
				<pre class="brush: html;">
					<button class="button-v1 w-s">검색하기</button>
					<button class="button-v1 w-m type-border">검색하기</button>
					<button class="button-v1 w-l type-radius">검색하기</button>

				</pre>
			</div>
			<!-- //button-v1 -->
			<!-- //button-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-v2</div>
			<div class="guide-wrap">
				<div>
					<div class="guide-grid">
						<ul class="guide-grid__list">
							<li class="guide-grid__item">
								<button class="button-v2 w-s">회원가입완료</button>
							</li>
							<li class="guide-grid__item">
								<button class="button-v2 w-m type-border">없음</button>
							</li>
							<li class="guide-grid__item">
								<button class="button-v2 w-l type-no-radius">없음</button>
							</li>
						</ul>
						<br><br>
						<button class="button-v2 w-100">없음</button>
					</div>

				</div>
				<pre class="brush: html;">
					<button class="button-v2 w-s">회원가입완료</button>
					<button class="button-v2 w-m type-border">없음</button>
					<button class="button-v2 w-l type-no-radius">없음</button>
					<button class="button-v2 w-100">없음</button>
				</pre>
			</div>
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-v3</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="button-v3">
						<span class="button-v3__wrap">
							검색결과 더 보기<span class="plus"><span class="plus__wrap">plus</span></span>
						</span>
					</a>
				</div>
				<pre class="brush: html;">
					<a href="" class="button-v3">
						<span class="button-v3__wrap">
							검색결과 더 보기<span class="plus"><span class="plus__wrap">plus</span></span>
						</span>
					</a>
				</pre>
			</div>
		</div>

		<div class="guide-box">
			<div class="guide-tit">button-v4</div>
			<div class="guide-wrap">
				<div>
					<a href="" class="button-v4">
						내차 어때?
					</a>
					<button class="button-v4 is-disabled"><span class="btn-span">선택차량 삭제</span></button>
					<a href="../../html/register/register_1.html" class="button-v4 type-border">회원가입</a>
				</div>
				<pre class="brush: html;">
					<a href="" class="button-v4">
						<span class="button-v4__wrap">
							내차 어때?
						</span>
					</a>
					<button class="button-v4 is-disabled"><span class="btn-span">선택차량 삭제</span></button>
					<a href="../../html/register/register_1.html" class="button-v4 type-border">회원가입</a>
				</pre>
			</div>
		</div>

		<div class="guide-box">
			<div class="guide-tit">select-v1</div>
			<div class="guide-wrap">
				<div>
					<select name="year_month" id="year_month" class="select-v1" required="">
						<option value="">선택</option>
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select>
				</div>
				<pre class="brush: html;">
					<label for="year_month" class="mycar-body__label">월</label>
					<select name="year_month" id="year_month" class="select-v1" required="">
						<option value="">선택</option>
						<option value="01">1월</option>
						<option value="02">2월</option>
						<option value="03">3월</option>
						<option value="04">4월</option>
						<option value="05">5월</option>
						<option value="06">6월</option>
						<option value="07">7월</option>
						<option value="08">8월</option>
						<option value="09">9월</option>
						<option value="10">10월</option>
						<option value="11">11월</option>
						<option value="12">12월</option>
					</select>
				</pre>
			</div>
			<!-- //select-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">checkbox-v2</div>
			<div class="guide-wrap">
				<div>
					<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2"><label for="chkAll">전체선택</label>
					<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2" checked><label for="chkAll">전체선택</label>
					<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2" disabled><label for="chkAll">전체선택</label>
				</div>
				<pre class="brush: html;">
					<input type="checkbox" name="chkAll" id="chkAll" class="checkbox-v2"><label for="chkAll">전체선택</label>
				</pre>
			</div>
			<!-- //checkbox-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">radio-v2</div>
			<div class="guide-wrap">
				<input type="radio" id="choice1" class="radio-v2"  name="choice" value="0"checked/>
				<label for="choice1">선택1</label>
				<input type="radio" id="choice2" class="radio-v2" name="choice" value="1"/>
				<label for="choice2">선택2</label>
				<input type="radio" id="choice3" class="radio-v2" name="choice" value="1" disabled/>
				<label for="choice3">선택3</label>
				<pre class="brush: html;">
					<input type="radio" id="choice1" class="radio-v2"  name="choice" value="0"checked/>
					<label for="choice1">선택1</label>
					<input type="radio" id="choice2" class="radio-v2" name="choice" value="1"/>
					<label for="choice2">선택2</label>
					<input type="radio" id="choice3" class="radio-v2" name="choice" value="1" disabled/>
					<label for="choice3">선택3</label>
				</pre>
			</div>
			<!-- //radio-v2 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">checkbox-only</div>
			<div class="guide-wrap">
				<div>
					<input type="checkbox" name="mypageChk" id="mypageChk1" class="checkbox-only"><label for="mypageChk1">선택</label>
				</div>
				<pre class="brush: html;">
					<input type="checkbox" name="mypageChk" id="mypageChk1" class="checkbox-only"><label for="mypageChk1">선택</label>
				</pre>
			</div>
			<!-- //checkbox-only -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">input-v1</div>
			<div class="guide-wrap">
				<div>
					<input class="input-v1 type-unit" type="number"/>
				</div>
				<pre class="brush: html;">
					<input class="input-v1 type-unit" type="number"/>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">input-v2</div>
			<div class="guide-wrap">
				<div>
					<input class="input-v2" type="text"/>
				</div>
				<pre class="brush: html;">
					<input class="input-v2" type="text"/>
					//js-error-check클래스 추가하면 blur시 보더색상 #ff5d54 으로 변경
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">tab-v1</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="" class="tab-v1__link">전체상품 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">엔카 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">KB차차차 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">AJ셀카 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">엠파크 <span class="tab-v1__num">4,514</span></a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v1">
						<ul class="tab-v1__list">
							<li class="tab-v1__item is-active"><a href="" class="tab-v1__link">전체상품 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">엔카 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">KB차차차 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">AJ셀카 <span class="tab-v1__num">4,514</span></a></li>
							<li class="tab-v1__item"><a href="" class="tab-v1__link">엠파크 <span class="tab-v1__num">4,514</span></a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

		<div class="guide-box">
			<div class="guide-tit">tab-v2</div>
			<div class="guide-wrap">
				<div>
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item is-active"><a href="myview.html" class="tab-v2__link">최근본차량 <span class="tab-v2__num">23</span></a></li>
							<li class="tab-v2__item"><a href="wishlist.html" class="tab-v2__link">관심차량 <span class="tab-v2__num">23</span></a></li>
						</ul>
					</div>
				</div>
				<pre class="brush: html;">
					<div class="tab-v2">
						<ul class="tab-v2__list">
							<li class="tab-v2__item is-active"><a href="myview.html" class="tab-v2__link">최근본차량 <span class="tab-v2__num">23</span></a></li>
							<li class="tab-v2__item"><a href="wishlist.html" class="tab-v2__link">관심차량 <span class="tab-v2__num">23</span></a></li>
						</ul>
					</div>
				</pre>
			</div>
			<!-- //input-v1 -->
		</div>

	</div><!-- //new-content-wrap -->
</body>
</html>
