<%
page_type = "loding"
	page = "loding"
	header = "false"
%>
<% include ../_include/_header %>

<div class="move-loding">
	<div class="move-loding__area">
		<div class="move-loding__wrap">
			<h3 class="move-loding__tit">아우디 뉴 A6 40 TFSI 콰트로 다이나믹 C7</h3>
			<img src="../../img/loding/move_loding_bar.gif" alt="loding..." class="move-loding__img"/>
			<img src="../../img/loding/move_loding_bar_m.gif" alt="loding..." class="move-loding__img-m"/>
			<p class="move-loding__txt">해당 차량을 분석하고 있습니다.</p>
			<div class="move-loding__box">
				<h4 class="move-loding__subject">내 차 어때란?</h4>
				<ul class="move-loding__list">
					<li class="move-loding__item">
						59,272대의 차량과 내 차를 비교하여 현재 상태와 시세를 보다 정확히 파악할 수 있게 도움을 드리는 서비스 입니다.
					</li>
					<li class="move-loding__item">
						주행거리, 보험내역, 소유자 이전 등 다양한 정보들을 통해 다른 차주들의 차량과 비교했을 때 내 차의 부족한 점과 더 나은 점을 한눈에 확인할 수 있습니다.
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% include ../_include/_footer %>
