html{height:100%;}
body{margin:0; padding:0; font-family: 'Zilla Slab', 'Noto Sans KR', sans-serif;}
.header{position:fixed; top:0; left:0; right:0; 
    $this:&;
    &__nav{position:relative; margin-top:30px; padding:0 40px; box-sizing:border-box; text-align:center;}
    &__list{position:absolute; left:40px; top:20px; margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; 
        & + &{margin-left:16px;}
        &.is-active{
            #{$this}__link{opacity: 1;}
        }
    }
    &__link{text-transform: uppercase; @include txt-v1; color:#fff; opacity: 0.5;}
    &__logo{display:inline-block;}
}