html{height:100%;}
body{margin:0; padding:0; font-family: 'Zilla Slab', 'Noto Sans KR', sans-serif;}
.header{position:fixed; top:0; left:0; right:0; 
    $this:&;
    &__nav{position:relative; margin-top:30px; padding:0 $sitePadding; box-sizing:border-box; text-align:center;}
    &__list{position:absolute; left:$sitePadding; top:20px; margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; 
        & + &{margin-left:16px;}
        &.is-active{
            #{$this}__link{opacity: 1;}
        }
    }
    &__link{text-transform: uppercase; @include txt-v1; color:#fff; opacity: 0.5;}
    &__logo{display:inline-block;}
    &__right{position:absolute; top:18px; right:$sitePadding;}
}

.right-nav{
    &__list{margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; vertical-align: middle;
        & + &{margin-left:36px;}
    }
    &__link{overflow:hidden; display:block; width:34px; height:34px; font-size:0;
        &.type-mypage{
            @include background('../images/common/logon_icon.png','no-repeat center center')
        }
        &.type-basket{
            @include background('../images/common/basket_icon.png','no-repeat center center')
        }
        &.type-all{position:relative; width:30px; height:30px;}
    }
    &__line{position:absolute; left:0; width:100%; height:4px; background:#fff;
        &:nth-child(1){top:0;}
        &:nth-child(2){top:0; bottom:0; margin:auto 0;}
        &:nth-child(3){bottom:0;}
    }
}