


.color-point1{color:$point1 !important;}
.color-white{color:#fff !important;}

.ft{font-family:$font-normal!important;}
.ft-300{font-weight:$light!important}
.ft-500{font-weight:$medium!important}
.ft-600{font-weight:$bold!important}

.ft-light{font-weight:$light!important}
.ft-medium{font-weight:$medium!important}
.ft-bold{font-weight:$bold!important}



