.login-wrap { position:absolute; top:50%; left:0; right:0; transform:translateY(-50%); width:400px; margin:auto; animation:login-wrap .3s ease-out;}
@keyframes login-wrap {
  0% { transform:translateY(-100%); opacity:0; }
  100% { transform:translateY(-50%); opacity:1; }
}