@charset "UTF-8";
@import "mixins";
@import "grid";
.container{
    // @media only screen and (max-width: $min-size){overflow:hidden; padding: 0 24px; box-sizing:border-box;}
    @media only screen and (max-width: $mobile-size){padding: 0 12px;}
}
.main-visual{display:block;
    @media only screen and (max-width: $min-size){margin: 0 -24px;}
}
.main-section{
    &__tit{display:inline-block; @include tit-v2; vertical-align: top; text-transform: uppercase;}
    &__wrap{position:relative; max-width:1600px; width:100%; margin:0 auto; text-align: center;}
    &__subtit{@include txt-v2(); font-weight:$regular;}
    & + &{margin-top:220px;}
    @media only screen and (max-width: $min-size){
        &__wrap{max-width:100%;}
        & + &{margin-top:140px;}
    }
    @media only screen and (max-width: $mobile-size){
        & + &{margin-top:60px;}
    }
}
.collection{
    &__area{position:relative; margin:136px 0 0 0;padding:0;}
    &__item{position:absolute; top:0; left:0; width:100%; list-style:none; z-index:10; opacity:0;
        &.is-active{position:relative; z-index:20; opacity:1;}
    }
    &__outer{position:relative;}
    &__tit{width:$col-7; text-align: right;}
    &__box{position:absolute; bottom:200px; width:$col-4; left:$col-7; text-align: left;  }
    &__kor{margin:0; font-size:24px; line-height:40px; font-weight:$regular;}
    &__eng{@include tit-v3; font-weight:$light;}
    &__wrap{box-sizing:border-box; font-size:0;} 
    &__inner{position:relative; padding:70px 60px 80px 60px; color:#fff; background-color:#3B2E28; box-sizing:border-box;}
    &__arrow{position:absolute; bottom:-70px; left:-70px; overflow:hidden; width:140px; height:140px; 
        border-radius:50%; @include background('../images/main/collection_arrow.png','no-repeat center center'); z-index:20;
        background-color:#EC6707; text-indent:-999px;}
    &__img{width:$col-7;}
    @media only screen and (max-width: $min-size){
        &__area{margin-top:50px;}
        &__tit{width:$col-12; text-align:center;}
        &__outer{padding:0 124px; box-sizing: border-box;}
        &__img{width:$col-12;}
        &__box{position:relative; left:auto; width:$col-12; margin-top:-80px; bottom:auto; padding:0 50px; box-sizing:border-box; z-index:30;}
        &__arrow{bottom:-35px; left:0; right:0; width:70px; height:70px; margin:0 auto;}
    }
    @media only screen and (max-width: $mobile-size){
        &__area{margin-top:25px;}
        &__outer{margin-left:-12px; margin-right:-12px; padding:0;}
        &__box{margin-top:-30px; padding:0 12px;}
        &__inner{padding:35px 45px 55px 45px;}
     }
}
.collection-img{width:$col-7;
    &__list{position:relative; width:100%; height:0; margin:0; padding:0 0 88.28%; list-style:none;}
    &__item{position:absolute; top:0; bottom:0; overflow:hidden; left:0; width:0; height:100%; transition: width 0.5s;
        &.is-active{width:100%; z-index:10;}
        &.is-past{width:100%; z-index:5;}
        img{height:100%;}
    }
    @media only screen and (max-width: $min-size){width:100%;

    }
}
.collection-txt{margin:0; padding:0;
    &__item{display:none;
        &.is-active{display:block;}
    }
}
.collection-nav{overflow:hidden; position:absolute; display:inline-block; padding-left:$col-1; width:$col-5; @include txt-categori1; text-align: left; box-sizing: border-box; z-index: 20;
    &__item{position:relative; padding-left:50px; box-sizing:border-box;
        &.is-active{text-decoration: underline;
            &:before{display:block; position:absolute; top:18px; left:0; width:38px; height:7px; background-color:$point1; content:'';}
            &:after{position:absolute; bottom:0;}
        }
        & + &{margin-top:20px;}
    }
    @media only screen and (max-width: $min-size){display:block; position:static; width:$col-12; margin-top:90px; padding-left:0;  
        &__list{text-align:center;}
        &__item{display:none; padding:20px 0 0 0;
            &.is-active{display:inline-block; text-align: center;
                &:before{top:0; left:0; right:0; margin:0 auto;}
            }
            & + &{margin:0 0 0 42px;}
        }
    }
    @media only screen and (max-width: $mobile-size){margin-top:45px;
    }
}


.collection-btn{position:absolute; right:40px; top:70px; font-size:0; height:34px;
    &__item{display:inline-block; height:inherit; vertical-align: top;
        & + &{margin-left:48px;}
    }
    &__btn{overflow:hidden; display:block; width:24px; height:inherit; text-indent:-999px;
        &.type-prev{@include background('../images/main/collection_prev.png','no-repeat center center'); }
        &.type-next{@include background('../images/main/collection_next.png','no-repeat center center');}
    }
    @media only screen and (max-width: $mobile-size){top:30px; right:24px; height:24px;
        &__item{
            & + &{margin-left:10px;}
        }
        &__btn{width:24px;
            &.type-prev{@include background('../images/main/collection_prev.png','no-repeat center center / 10px 17px'); }
            &.type-next{@include background('../images/main/collection_next.png','no-repeat center center / 10px 17px');}
        }
    }
}

.celebrity-nav{margin-top:44px;
    &__list{margin:0; padding:0;}
    &__item{display:inline-block; list-style:none;
        & + &{margin-left:58px;}
    }
    &__link{display:block; @include txt-categori2; box-sizing:border-box; text-transform: uppercase;}
    @media only screen and (max-width: $mobile-size){
        &__list{padding:0 18px; box-sizing:border-box; text-align:left; white-space: nowrap;}
        &__item{
            & + &{margin-left:30px;}
        }
    }
}

.celebrity{width:1400px; margin:0 auto;
    &__list{overflow:hidden; margin:60px -20px 0; padding:0;}
    &__item{display:inline-block; padding:0 20px; list-style:none; box-sizing:border-box;}
    &__link{display:block; padding:60px; outline:0; background-color:rgba(246, 241, 235, 0.3); box-sizing:border-box; }
    @media only screen and (max-width: $min-size){width:100%;
        &__list{margin-left:26px; margin-right:26px;}
        &__item{padding:0 13px;}
    }
    @media only screen and (max-width: $mobile-size){
        &__list{margin-top:30px;}
    }
}
.every{position:relative; padding-bottom:125px;
    &:after{display:block; position:absolute; left:0; right:0; bottom:0; background-color:#f6f1eb; height:60%; content:''; z-index:-1;}
    &__wrap{position: relative; box-sizing:border-box;
        &:after{display:block; clear:both; content:'';}
    }
    &__tit{position:relative; display:block; padding-left:60px; text-align: left; font-weight:$semiBold; text-transform: inherit; z-index:10; box-sizing:border-box;}
    &__sub{position:absolute; margin-top:-60px; width:460px;}
    &__main{float:right; margin-top:120px;}
    &__box{position:relative; width:948px; padding-left:162px; padding-bottom:40px; box-sizing:border-box; text-align: left;}
    @media only screen and (max-width: $min-size){margin:0 -24px;
        &__tit{padding-left:0; text-align: center;}
        &__sub{display:none;}
        &__main{float:none; margin-top:70px; padding:0 148px; box-sizing:border-box;}
        &__box{padding:0; width:100%;}
    }
    @media only screen and (max-width: $mobile-size){
        &__main{padding:0;}
    }
}

.main-product{text-align: left;
    &__tit{font-size:30px; font-weight:$light;}
    &__img{position:relative;}
    &__box{display:inline-block; margin-top:40px; padding-left:326px; box-sizing:border-box; text-align:left;}
    &__price{margin-top:5px; font-size:16px; font-weight:$regular;}
    &__sub{position:absolute; bottom:0; left:0; width:440px;}
    @media only screen and (max-width: $min-size){
        &__box{display:block; padding-left:0; text-align:center;}
        &__sub{position:relative; left:0; right:0; width:100%; margin-top:-180px; padding:0 250px; box-sizing:border-box; z-index:10;}
    }
}

.main-banner{position:relative;
    &__txt{@include txt-categori1; text-transform: uppercase; color:#fff; font-weight:$light; letter-spacing: 0.72em;}
    &__box{display:flex; position:absolute; top:0; left:0; width:100%; height:100%; justify-content:center; align-items:center; text-align: center;}
    @media only screen and (max-width: $min-size){margin:0 -24px;
        &__list{margin-left:-8px; margin-right:-8px;}
        &__item{padding:0 8px;}
    }
} 