@charset "UTF-8";
@import "mixins";
.main-section{
    &__tit{display:inline-block; @include tit-v3; vertical-align: top; text-transform: uppercase;}
    &__wrap{position:relative; max-width:1440px; width:100%; margin:0 auto;}
    &__subtit{@include txt-v2(); font-weight:$regular;}
    & + &{margin-top:180px;}
}
.collection{
    &__list{margin:-160px 0 0 0;padding:0;}
    &__item{position:relative; padding-bottom:180px; list-style:none; box-sizing:border-box;}
    &__tit{margin-left:180px;}
    &__box{position:absolute; bottom:0; right:0; width:706px; @include tit-v1;  text-align: left; }
    &__bar{position:relative;
        &:after{position:absolute; right:0; bottom:0; display:block; width:60px; height:550px; background-color:$point1; content:'';}
    }
    &__kor{margin:0; font-size:24px; font-weight:$bold; color:$point1;}
    &__wrap{padding:148px 0 0 0; box-sizing:border-box; text-align: center;}
    &__img{width:840px;}
}

.collection-nav{display:inline-block; margin-left:126px; @include txt-v1; text-align: left;
    &__item{position:relative; padding-left:50px; box-sizing:border-box;
        &.is-active{text-decoration: underline;
            &:before{display:block; position:absolute; top:24px; left:0; width:38px; height:7px; background-color:$point1; content:'';}
            &:after{position:absolute; bottom:0;}
        }
    }
}
.celebrity-nav{margin-top:44px;
    &__list{margin:0; padding:0;}
    &__item{display:inline-block; list-style:none;
        & + &{margin-left:58px;}
    }
    &__link{display:block; text-transform: uppercase;}
}

.celebrity{
    &__list{overflow:hidden; margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; border:1px solid red;
        & + &{margin-left:120px;}
    }
    &__link{display:block;}
}